*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(images/una-taza-de-javascript.png);
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 0px auto;
    margin: 0px auto;
   
    
}
header{
    background: black;
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 20px ridge rgb(255, 242, 217);
}
.clearfix{
    clear: both;
}
#content{
    float: left;
    width: calc(80% - 80px);
    min-height: 700px;
    background: white;
    padding: 40px;
    opacity: 0.9;   
}
.article{
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.article:first-child{
    padding-top: 10px;
    border-top: 1px solid black;
}
.article h2{
    font-size: 25px;
}
.article p{
    font-size: 18px;
}
.article h3{
    font-size: 21px;
}
aside {
    float: left;
    width: calc(20% - 20px);
    background: lightgrey;
    min-height: 700px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;  
    opacity: 0.9;
}
footer{
    background: transparent;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px; 
    
}